<% content_for :title do %>Dash<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="todoist" data-view="Todoist" data-unordered="true" data-title="To Do"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="techcrunch" data-view="News" data-title="TechCrunch" data-interval="20"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bbc" data-view="News" data-title="BBC" data-interval="35"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mta" data-view="Mta"></div>
    </li>

  </ul>

</div>
